main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    /* background-color: aqua; */
}
.calculator-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    /* background-color: aquamarine; */
}
.screen{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 50%;
    height: 15%;
    /* background-color: antiquewhite; */
}
.keypad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    /* background-color: azure; */
}
.numbers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    /* background-color: blue; */
}

.operations-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 56%;
    background-color: rgb(2, 82, 47);
}
.number-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.operations-container > button {
    height: 60%;
    width: 100%;
}

button {
    height: 100%;
    width: 100%;
}

